body{
background:#121212;
color:white;
font-family:Arial;
}

.container{
max-width:500px;
margin:auto;
padding:20px;
}

input{
width:100%;
padding:10px;
margin-bottom:20px;
}

.song{
padding:10px;
border-bottom:1px solid #333;
cursor:pointer;
}

.song:hover{
background:#1e1e1e;
}

button{
padding:10px;
margin-top:10px;
}
